<f:layout name="Page/Default" />

<footer>
    <div class="container">
        <div class="col-lg-4"><f:format.raw><f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '81'}"/></f:format.raw></div>
        <div class="col-lg-4"><f:format.raw><f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '82'}"/></f:format.raw></div>
        <div class="col-lg-4"><f:format.raw><f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '83'}"/></f:format.raw></div>
    </div>
</footer>