<header>
  <div class="container">
    <div class="row">

			<div class="col-sm-4">
				<a href="http://dartautomat.oliver-seiffert.de" title="Dartautomat kaufen" class="brand">
          <!--<img src="fileadmin/templates/dartautomat/Ressources/Public/Images/Dartautomat_kaufen-Logo.png" width="360" height="60" alt="Werkstattwagen Logo" class="img-responsive">-->
          <h1>Development</h1>
        </a>
			</div>

			<div class="col-sm-8">
			</div>

  	</div>
  </div>
</header>
<!-- Fixed navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
      <f:cObject typoscriptObjectPath="lib.mainnav"/>
    </div><!--/.nav-collapse -->
  </div>
</nav>
